@charset "euc-kr";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap')


* {
  margin: 0;
  border: 0;
}
body {
  font-size: 16px;
  color: #0a0a0a;
  font-family: "Noto Sans KR", dotum, sans-serif;
  font-weight: 400;
}
div,
p,
span,
a {
  line-height: 1.5;
}

a {
  color: #0a0a0a;
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  cursor: pointer;
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

input,
textarea,
select {
  font-size: 1em;
  color: #0a0a0a;
  font-family: "Noto Sans KR", dotum, sans-serif;
  font-weight: 400;
}
input,
select,
textarea {
  padding: 10px;
  border: 1px solid #d5d5d5;
}

ul,
ol,
ol li {
  list-style: none;
  padding: 0;
}
form {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
}
noscript {
  position: absolute;
  z-index: 10;
  background: #efefef;
}
noscript p {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
label {
  cursor: pointer;
}
legend {
  visibility: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
}
caption {
  visibility: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: normal;
}
select {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}
img {
  font-size: 0;
  line-height: 0;
}
select::-ms-expand {
  display: none;
}

/* common */
#skip,
ul.skiplist li.skip,
.skipnavi,
caption,
legend,
span.skip {
  position: absolute;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
  visibility: hidden;
  text-indent: -1000px;
}
.hide {
  display: none;
}
.clfix:after {
  content: "";
  display: block;
  clear: both;
}
strong {
  font-weight: 800;
}

/* SKIP navigation */
.skipNav {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 20em;
  z-index: 99999;
}
.skipNav li {
  display: inline;
  margin: 0;
  padding: 0;
}
.skipNav li a {
  position: absolute;
  display: block;
  top: -200px;
  left: 0;
  padding: 5px 10px;
  background-color: #fafafa;
  color: #0a0a0a;
}
.skipNav li a:focus {
  top: 0;
  left: 0;
}

.mon {
  font-family: "Montserrat", sans-serif;
}
.gothic { font-family: "Gothic A1", sans-serif; }

.c_blue {
  color: #009fff;
}
.c_pink {
  color: #ec2f4b;
}
.c_violet {
  color: #7e43f6;
}
/* HEADER area */
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  word-break: keep-all;
}
#header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px;
  transition: all 0.5s;
  backdrop-filter: invert(100%);
  -webkit-backdrop-filter: invert(100%);
}
#header a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
#header .headerInner {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header h1 {
  display: block;
}
#header h1 a {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1px;
  color: #fff;
  text-shadow: 3px 3px 0px #0a0a0a;
}
#header h1 span {
  margin-left: 2px;
  line-height: 0;
}
#header.bk {
  padding: 15px;
  backdrop-filter: invert(0);
  -webkit-backdrop-filter: invert(0);
  border-bottom:1px solid #0a0a0a;
  background: rgba(0,0,0,0.9);
}
#header.bk a {
  color: #fff;
  text-shadow: none;
}
#header.bk h1 a {
  text-shadow: none;
  font-size: 30px;
}
#header.bk h1 span {
  color: #009fff;
}
/*
#header .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#header .gnb li {
  display: block;
  margin: 0 20px;
  font-weight: 800;
}

*/
/* FOOTER area */
#footer {
  z-index: 10;
  position: relative;
  padding: 80px 0;
  background: #0a0a0a;
}
#footer .content {
  position: relative;
  color: #9da0ab;
  overflow: hidden;
}
#footer h1 {
  float: left;
  width: 120px;
  margin-right: 50px;
}
#footer .util {
  position: absolute;
  right: 0;
  top: 0;
}
#footer .util li {
  float: left;
  display: inline-block;
}
#footer .util li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: right;
}
#footer address {
  padding: 50px 0 20px;
}
#footer .info {
  font-size: 12px;
}

.goTop {
  z-index: 10;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  text-align: center;
  border: 5px solid #0a0a0a;
  background: #fff;
  box-shadow: inset -5px -5px 0 #ddd;
  font-weight: 800;
}

@media (max-width: 768px) {
  #header {
    padding: 20px;
  }
  #header h1 a {
    font-size: 30px;
  }
  #header.bk {
    padding: 15px;
  }
  #header.bk h1 a {
    font-size: 20px;
  }
  #header.bk h1 span {
    -webkit-text-stroke: 1px #0a0a0a;
  }
  #header .gnbWrap {
    display: none;
  }
  .goTop {
    right: 5%;
    bottom: 20px;
  }
}
