
@keyframes marquee {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-75%);
  }
}
@keyframes rotate {
  0% {
    transform: translate(50%, 50%) rotate(0);
  }
  100% {
    transform: translate(50%, 50%) rotate(1turn);
  }
}

@keyframes scrolling-gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 40px;
  }
}

@keyframes textRoll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.moView {
  display: none;
}
.pcView {
  display: inherit;
}

/**/
#load {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  clip-path: inset(100% 0px 0px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a0a0a;
  color: #fff;
  transition: 0.7s 0.3s clip-path cubic-bezier(0.85, 0, 0.15, 1);
}

#load.on {
  clip-path: inset(0);
}

#load .textroll {
  position: relative;
  overflow: hidden;
  display: flex;
  font-size: 1.25em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
}
#load .textroll .text1 {
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#load .textroll .text2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(0);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#load .textroll.on .text1 {
  transform: translateY(0);
}
#load .textroll.on .text2 {
  transform: translateY(-100%);
}

.cursor {
  z-index: 1000;
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  transition: transform 0.2s; 
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

a:hover ~ .cursor { transform: scale(5); }
/* CONTENT area */
.content {
  width: 1240px;
  margin: 0 auto;
}
.section {
  z-index: 2;
  overflow: hidden;
  position: relative;
  padding: 300px 0;
  box-sizing: border-box;
  background-color: #fff;
}
.section h2 {
  font-size: 4rem;
  font-weight: 900;
}

.section.section1 {
  z-index: 1;
  position: fixed; 
  top:0; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #0a0a0a;
}
.section.section1 * {
  line-height: 1;
}
.section.section1 .content {
  color: #fff;
  font-size: 6em;
  font-weight: 200;
}
.section.section1 .typing {
  text-align: center;
  font-weight: bold;
}
.section.section1 .blink {
  animation: blink 0.5s infinite;
}
.section.section1 .bg {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
}
.section.section1 .bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section.section2 {
  margin-top: 100vh;
  border: 20px solid #0a0a0a;
  border-top: 0;
}
.section.section2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section.section2 h2 {
  color: #0a0a0a;
}
.section.section2 .subTitle {
  display: inline-block;
  margin: 80px auto 50px;
  padding: 5px 15px;
  background: linear-gradient(to right, #7e43f6, #009fff);
  font-size: 1.25em;
  color: #fff;
}
.section.section2 .des { 
  font-size: 1.25em;
}
.section.section2 .des + .des {
  margin-top: 20px;
}
.section.section2 .des span {
  position: relative;
  font-weight: bold;
}

.section.section2 .des span::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: rgba(255, 255, 0, .6);
}

.section.section2 p:hover span::after {
  width: 100%;
  transition: width .3s;
}

.section.section2-1 {
  background: #0a0a0a;
}
.section.section2-1 .marqueeWrap .list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.section.section2-1 .marqueeWrap .reverse p {
  animation-direction: reverse;
  transform: translate(-75%);
}
.section.section2-1 .marqueeWrap p {
  animation-name: marquee;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: transform;
}
.section.section2-1 .marqueeWrap span {
  margin:0 10px;
  font-size: 12em;
  font-weight: 900;
  line-height: 1;
  background: linear-gradient(to right, #7e43f6, #009fff);
  color: transparent;
  -webkit-background-clip: text;
}
.section.section2-1 .marqueeWrap .outline {
  color: #fff;
}

.section.section3 {
  background: #0a0a0a;
  padding-top: 0;
  color: #fff;
}
.section.section3 .content {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.section.section3 .content + .content {
  margin-top: 100px;
}
.section.section3 .content.reverse {
  flex-direction: row-reverse;
}
.section.section3 .content.reverse h2 {
  text-align: left;
  padding-right: 0;
  padding-left: 60px;
}
.section.section3 h2 .gradient {
  background: linear-gradient(to right, #7e43f6, #009fff);
  color: transparent;
  -webkit-background-clip: text;
}
.section.section3 .content.reverse ul {
  text-align: right;
}
.section.section3 h2 {
  flex-shrink: 0;
  width: 40%;
  padding-right: 60px;
  text-align: right;
}
.section.section3 ul {
  width:60%;
}
.section.section3 li {
  font-size: 1.25em;
}
.section.section3 li + li {
  margin-top: 10px;
}
.section.section3 .rotate {
  z-index: 1;
  position: absolute;
  left: -10%;
  bottom: 0;
  height: 600px;
  width: 300px;
}
.section.section3 .rotate span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  animation: rotate 5s linear infinite;
  border-radius: 50%;
  border: 3px dashed #ddd;
}
.section.section3 .rotate span.reverse {
  animation-direction: reverse;
}

.section.section4 {
  z-index: 10;
  background-color: #0a0a0a;
  background-image: radial-gradient(#111 20%, transparent 0),
    radial-gradient(#111 20%, transparent 0);
  background-position: 0 0, 15px 15px;
  background-size: 15px 15px;
}
.section.section4 h2 {
  display: inline;
  box-shadow: inset 0 -90px 0 #fff;
  color: #0a0a0a;
}
.section.section4 h2 .gradient {
  background: linear-gradient(to right, #7e43f6, #009fff);
  color: transparent;
  -webkit-background-clip: text;
}
.section.section4 .box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.section.section4 .box:nth-of-type(even) {
  flex-direction: row-reverse;
}
.section.section4 .box:nth-of-type(even) .right {
  margin-left: 0;
  margin-right: -5%;
}
.section.section4 .img {
  width: 55%;
  background: #fff;
}
.section.section4 .img img {
  width: 100%;
}
.section.section4 .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(-45deg,#fff,#fff 25%,#0a0a0a 25%,#0a0a0a 50%,#fff 50%,#fff 75%,#0a0a0a 75%,#0a0a0a 100%);
  background-size: 40px 40px;
  border-bottom: 5px solid #0a0a0a;
}
.section.section4 .top i {
  display: block;
  width: 20px;
  height: 20px;
  border: 5px solid #0a0a0a;
  border-radius: 50%;
  text-indent: -9999px;
  background: #fff;
}
.section.section4 .right {
  width: 45%;
  margin-left: -5%;
  border: 5px solid #0a0a0a;
  background: #fff;
  box-shadow: 12px 12px 0 0 rgba(0,0,0, 0.5);
}
.section.section4 .textWrap {
  padding: 40px 20px;
}
.section.section4 .textWrap h3 {
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: 800;
}
.section.section4 .textWrap .des {
  margin-bottom: 50px;
  font-weight: 300;
}
.section.section4 .date {
  color: #aaa;
  font-weight: 300;
}
.section.section4 .datail {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 20px;
  text-align: center;
  font-weight: 800;
}
.section.section4 .box a {
  position: relative;
  display: block;
  width: 120px;
  padding: 5px 0;
  border: 5px solid #0a0a0a;
  box-shadow: inset -5px -5px 0 #ddd;
  font-family: "Montserrat", sans-serif;
}
.section.section4 .box a:after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  bottom: -2px;
  background: #0a0a0a;
  width: 0;
  transition: all 0.3s;
}
.section.section4 .box a:hover {
  color: #fff;
}
.section.section4 .box a:hover span {
  z-index: 10;
  position: relative;
}
.section.section4 .box a:hover:after {
  width: 100%;
}
.section.section4 .percent {
  width: 140px;
  margin-left: 20px;
  padding: 10px 10px;
  background: linear-gradient(-45deg,#fff,#fff 25%,#ddd 25%,#ddd 50%,#fff 50%,#fff 75%,#ddd 75%,#ddd 100%);
  background-size: 5px 5px;
}

.section.section5 {
  padding: 20px 0;
  background: linear-gradient(
    -45deg,
    #fff,
    #fff 25%,
    #0a0a0a 25%,
    #0a0a0a 50%,
    #fff 50%,
    #fff 75%,
    #0a0a0a 75%,
    #0a0a0a 100%
  );
  background-size: 40px 40px;
  animation: scrolling-gradient 2s linear infinite;
}
.section.section5 .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  padding: 200px 0;
  background: #fff;
}
.section.section5 h2 {
  margin-right: 60px;
  text-align: right;
  font-weight: 800;
  font-size: 2.5em;
}
.section.section5 .textWrap li {
  padding-left: 1em;
  font-size: 1.25em;
}
.section.section5 .textWrap li:before {
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-weight: 100;
}
.section.section5 .textWrap li + li {
  margin-top: 10px;
}
.section.section5 .textWrap .linkWrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 60px;
}
.section.section5 .textWrap a {
  position: relative;
  display: block;
  width: 120px;
  padding: 10px;
  border: 5px solid #0a0a0a;
  box-shadow: inset -5px -5px 0 #ddd;
  color: #0a0a0a;
  text-align: center;
  font-size: 1.125em;
  font-weight: 800;
}
.section.section5 .textWrap a:after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  bottom: -2px;
  background: #0a0a0a;
  width: 0;
  transition: all 0.3s;
}
.section.section5 .textWrap a:hover {
  color: #fff;
}
.section.section5 .textWrap a:hover span {
  z-index: 10;
  position: relative;
}
.section.section5 .textWrap a:hover:after {
  width: 100%;
}

@media (max-width: 1280px) {
  .section {
     padding:200px 0;
  }
  .content {
    width: auto;
    margin: 0 5%;
  }
  .section h2 {
    font-size: 3em;
  }
  .section.section1 .content {
    font-size: 4.5em;
  }
  .section.section3 h2 {
    padding-right: 40px;
  }
  .section.section5 h2 {
    margin-right: 40px;
  }
  .section.section5 .content {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .moView {
    display: block;
  }
  .pcView {
    display: none;
  }
  #load .textroll {
    font-size: 16px;
  }
  body {
    font-size: 14px;
  }
  .section {
    padding: 100px 0;
  }
  .section h2 {
    font-size: 2.75em;
  }
  .section.section1 .content {
    font-size: 3em;
  }
  .section.section2 .subTitle {
    margin: 40px 0;
  }
  .section.section2 .des {
    margin: 0 5%;
    font-size: 1.125em;
  }
  
  .section.section2-1 .marqueeWrap span {
    font-size:7em;
  }

  .section.section3 .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .section.section3 .content + .content {
    margin-top: 50px;
  }
  .section.section3 .content.reverse {
    flex-direction: column;
    align-items: flex-end;
  }
  .section.section3 .content.reverse h2 {
    text-align: right;
  }
  .section.section3 h2 {
    width: auto;
    margin-bottom: 40px;
    text-align: left;
  }
  .section.section3 ul {
    width: auto;
  }
  .section.section3 li {
    font-size: 1.125em;
  }
  .section.section3 li + li {
    margin-top: 5px;
  }
  .section.section3 .rotate {
    left: auto;
    right: 5%;
    bottom: 5%;
    width: 300px;
    height: 150px;
  }
  .section.section3 .rotate span {
    border-width: 2px;
  }

  .section.section4 .box {
    flex-direction: column !important;
    align-items: flex-start;
    margin-top: 100px;
  }
  .section.section4 .box:nth-of-type(even) {
    align-items: flex-end;
  }
  .section.section4 .box:nth-of-type(even) .right{
    margin-left: 0; 
    margin-right: 5%;
  }
  .section.section4 .img {
    width: 80%;
  }
  .section.section4 .right { 
    width: 90%;
    margin-left:5%;
    margin-top:-10%;
  }
  .section.section4 .textWrap {
    padding: 30px 20px;
  }
  .section.section4 .textWrap h3 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  .section.section4 .textWrap .des {
    margin-bottom: 40px;
  }
  .section.section4 .datail {
    margin-top: 10px;
  }
  .section.section4 .datail a {
    width: 100px;
  }
  .section.section4 .percent {
    width: 120px;
    margin-left: 10px;
  }

  .section.section5 .content {
    flex-direction: column;
    padding: 100px 20px;
  }
  .section.section5 h2 {
    padding-right: 0;
    margin-bottom: 40px;
    text-align: left;
  }
  .section.section5 .textWrap li {
    font-size: 1.125em;
  }
  .section.section5 .textWrap li + li {
    margin-top: 5px;
  }
  .section.section5 .textWrap .linkWrap {
    margin-top: 40px;
  }
  .section.section5 .textWrap a {
    width: 100px;
    padding: 5px;
  }
}
