@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

a{
	text-decoration:none; 
    color: #333
}

/* Custom CSS */

.fadeinleft {
    opacity: 0;
    margin-left: -300px;
    max-width: 100%;
}

body{
	font-family: 'Nanum Gothic', sans-serif;
	color: #333;
}

#fullpage{
}
.menu{
    position:fixed;
	top:0;
	left:0;
    z-index: 70;
	width: 100%;
}
#menu{
    width: 988px;
    margin: 0 auto;
}
#menu li {
	display:inline-block;
	margin: 10px;
	background:#fff;
    border-radius: 20px;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.15)
}
#menu li.active{
	background: rgba(0,0,0, 0.8);
	color: #fff;
    font-weight: bold;
}

#menu li a, #menu li.active a{
	padding: 10px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}


#section0 {
    font-size: 36px;
    text-align: left;
    padding: 100px 0 0 100px;
    line-height: 2em;
}
#section0,#section2,#section3,#section4,#section5{
    background: url(../image/bg-03.jpg) center center no-repeat;
    background-size: cover;
}

.wrap, .intro{
    max-width: 1280px;
    margin: 0 auto
}

.intro p{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}
.intro span{
    opacity: 0.5;
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}

.intro_t{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.intro dt{
    font-size: 20px;
    line-height: 2em;
    font-style: italic;
    font-weight: bold;
}
.intro dd{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5em;
}
/*.section .img,.section .text{
    max-width: 640px;
}*/

.intro .btn{
    display: block;
    width: 260px;
    height: 40px;
    line-height: 40px;
    background: #333;
    color: #fff;
    margin: 10px auto 0;
    border-radius: 20px;
}
#section2 .img,#section4 .img,#section5 .img{
    position: relative;
    float: left;
    width: 45%;
    margin-left: 5%; 
}
#section2 .img img:nth-of-type(2),#section4 .img img:nth-of-type(2),#section5 .img img:nth-of-type(2){
    position: relative;
    width: 90%;
    margin-top: 20%;
}
#section2 .img img:nth-of-type(1){
    width: 86.5%;
    position: absolute;
    margin-top: 20%;
    top: 3.5%;
    left: 2%;
}
#section3 .img{
    position: relative;
    float: left;
    width: 50%;
}
#section3 .img img:nth-of-type(2){
    width: 50%;
    transform: translateX(50%);  
}
#section3 .img img:nth-of-type(1){
    top: 6%;
    width: 44%;
    position: absolute;
    left: 28%;
}
#section4 .img img:nth-of-type(1){
    width: 77%;
    position: absolute;
    margin-top: 20%;
    top: 3%;
    left: 2%;
}
#section5 .img img:nth-of-type(1){
    width: 84%;
    position: absolute;
    margin-top: 20%;
    top: 3.5%;
    left: 3%;
}
.text{
    float: right;
    width: 45%;
    padding-right: 5%;
    text-align: justify
}
.text_t{
    font-family: 'Bad Script', cursive;
    font-style: italic;
    font-size: 40px;
    opacity: .4;
    margin-bottom: 40px;
    display: block;
    text-align: right
}
.text dl{
    margin-bottom: 30px;
}
.text dt{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text dd{
    font-size: 16px;
    line-height: 1.5em;
}
.text a{
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #333;
    background: #333;
    color: #fff;
    border-radius: 25px;
    transition: all .5s;
}
.text a:hover{
    background: #fff;
    color: #333;
    
}