/* 와이드 pc  */
.videoBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute
}

#videoBG {
    position: absolute;
    /*고정=>fixed/ 스크롤처리=>absolute */
    left: 50%;
    top: 50%;
    /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
    width: auto;
    min-width: 100%;
    /*동영상 너비를 꽉차게*/
    height: auto;
    min-height: 100%;
    /*동영상 높이를 꽉차게*/
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    /*다른요소보다 아래에 위치*/
}

#imgBG {
    position: absolute;
    /*고정=>fixed/ 스크롤처리=>absolute */
    left: 50%;
    top: 50%;
    /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
    width: auto;
    min-width: 100%;
    /*동영상 너비를 꽉차게*/
    height: auto;
    min-height: 100%;
    /*동영상 높이를 꽉차게*/
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    display: none
}

.main_text {
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    top: 50%;
}

.main_text img {
    width: 100%;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, .6));
}

.down {
    display: block;
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    bottom: 10%;
    animation: ani 1s infinite alternate;
    text-align: center;
}

.down i {
    font-size: 30px;
    margin-top: 0px;
    display: block;
}


@keyframes ani {
    0% {
        transform: scale(1);
        opacity: 1;
        color: #fff;
    }

    100% {
        transform: scale(1.2);
        opacity: 0.4;
        color: #fff;
    }
}

#content {
    width: auto;
    margin: 0 auto;
}

.btn {
    display: block;
    height: 40px;
     background-image: linear-gradient(to right, #ee155b, #ce00b6, #8207d0, #885efa);
    background-size: 300% 100%;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.btn:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}
.title {
    font-weight: bold;
    font-size: 34px;
    font-family: 'Nanum Gothic', sans-serif;
}

.about {
    width: auto;
    margin: 0 8%;
    padding: 8% 0;
    overflow: hidden;
}

.about_top {
    width: auto;
    height: 400px;
    background: url(../images/01.jpg) left;
    background-size: cover;
    padding-right: 10%;
    padding-left: 55%;
    text-align: right;
    overflow: hidden;
}
.about_top img {
    display: block;
    margin-top: 100px;
    width: 100%;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, .4));
}
.about_top dd {
    margin-top: 5%;
    text-shadow: 0 0 5px rgba(0,0,0,.4)
}
.about_top a {
    width: 25%;
    margin-left: 75%;
    margin-top: 5%;
}

.about_bot {
    width: 100%;
    overflow: hidden;
    margin-top: 2%;
}
.about_bot .cinema {
    width: 64.6%;
    height: 400px;
    margin-right: 2%;
    float: left;
    background: url(../images/02.jpg) center;
    background-size: cover;
    text-align: center;
}

.about_bot .cinema dt {
    margin-top: 17%
}

.about_bot .cinema dd {
    margin-top: 2%;
}

.about_bot .cinema a {
    width: 13%;
    margin: 0 auto;
    margin-top: 4%;
}

.about_bot .dolby {
    width: 31.3%;
    height: 400px;
    float: right;
    background: url(../images/03.jpg) center;
    background-size: cover;
    padding-left: 2%;
}
.about_bot .dolby dt {
    margin-top: 6%;
}
.about_bot .dolby dd {
    margin-top: 4%;
}
.about_bot .dolby a {
    margin-top: 8%;
    width: 26%;
}



.product {
    width: auto;
    margin: 0 8%;
    position: relative;
    float: left;
}

.product a {
    width: 20%;
    margin-top: 5%;
}
.product dd {
    margin-top: 20px
}

.product_top {
    position: relative;
}
.product_top img {
    width: 50%;
    border-radius: 50%;
    position: relative;
    left: -10%;
    float: left;
}

.product_top dl {
    width: 50%;
    float: right;
    position: relative;
    left: -8%;
    margin-top: 8%
}

.product_bot {
    clear: both;
    position: relative;
    top: -100px;
}

.product_bot dl {
    width: 50%;
    float: left;
    text-align: right;
    margin-top: 25%;
    position: relative;
    right: -8%
}

.product_bot a {
    margin-left: 80%
}

.product_bot img {
    width: 50%;
    border-radius: 50%;
    position: relative;
    float: right;
    right: -10%;
}



.business {
    clear: both;
    background: url(../images/06.jpg) center;
    background-size: cover;
    height: 400px;
    width: auto;
    position: relative;
    text-align: center;
    padding-top: 80px;
    background-attachment: fixed;
}

.business dd {
    margin-top: 20px;
    text-shadow: 0 0 5px rgba(0,0,0,.4)
}

.business img {
    width: 420px;
    position: absolute;
    left: 50%;
    top: 250px;
    margin-left: -210px;
}


.news {
    margin: 22% 8% 0;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
}

.news h3 {
    text-align: center;
    margin-bottom: 4%
}
.news a{
    display: block;
}
.news dl {
    position: absolute;
    width: 90.5%;
    bottom: 0;
    padding: 15% 5%;
    background:linear-gradient(to bottom, rgba(21, 21, 21, 0)0%, rgba(21, 21, 21, 1) 90%);
}

.news dt {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Nanum Gothic', sans-serif;
}

.news dd {
    margin-top: 10px;
}

.news img {
    width: 100%;
}

.customer {
    overflow: hidden;
    margin: 8%;
}

.customer h3 {
    margin-bottom: 2%;
    text-align: center;
}
.customer span{
    margin-bottom: 4%;
    text-align: center;
    display: block;
    line-height: 1.5em
}

.customer .customer_li{
    width: 48%;
    height: 400px;
    float: left;
    margin-right: 4%;
    background: url(../images/12.jpg) left no-repeat;
    background-size: cover;
    position: relative;
    transition-duration: .5s;
}

/*
.customer .customer_li:hover{
    background-position:  15% ;
}
*/
.customer ul {
    float: right;
    width: 48%;
}
.customer li{
    width: 100%;
    background-size: 100%;
    height: 190px;
    position: relative;
    transition-duration: .5s;
    background-size: cover;
}
/*
.customer li:hover{
    background-position:  30% ;
}
*/
.customer .customer_cen{
    background: url(../images/13.jpg) left no-repeat;
    margin-bottom: 20px;
}
.customer .customer_a{
    background: url(../images/14.jpg) left no-repeat;
}

.customer dl{
    position: absolute;
    bottom: 20px;
    left: 20px;
    
}

.customer dt {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Nanum Gothic', sans-serif;
    text-shadow: 0 0 5px rgba(0,0,0,.4)
}

.customer dd {
    margin-top: 10px;
    text-shadow: 0 0 5px rgba(0,0,0,.4)
}



/* 일반 pc */
@media screen and (max-width:1280px) {
    .about {margin: 0 3%}
    
    .product {margin: 0 3%}

    .business {height: 350px;}
    
    .business img {
        width: 340px;
        margin-left: -170px;
    }
    
    .news {margin: 22% 3% 0}
    
    .news dd {
        font-size: 14px;
        margin-top: 10px;
    }
    
    .customer {margin: 8% 3%;}

}

/* 테블릿 */
@media screen and (max-width:1024px) {
    .title{
        font-size: 30px;
    }
    #content {
        width: auto;
        margin: 0
    }
    .btn {
        height: 30px;
        border-radius: 15px;
        line-height: 30px;
        font-size: 14px;
    }

    .about {
        margin: 0%
    }

    .about_top {
        float: left;
        width:39%;
        padding: 0 5%;
        margin-right: 2%;
    }
    .about_top{
        background-position: -428px 0px
    }
    .about_bot {
        float: right;
        width: 49%;
        margin-top: 0
    }

    .about_bot .cinema {
        width: 100%;
        margin-right: 0;
        height: 190px;
    }
    .about_bot .cinema dt{
        margin-top: 6%;
    }
    .about_bot .dolby {
        width: 96%;
        height: 190px;
        margin-top: 20px;
        background-position: 0 -40px;
        padding-left: 4%;
    }
    .about_bot .dolby dd{
        margin-top: 2%;
    }
    .about_bot .dolby a , .about_bot .cinema a {
        margin-top: 4%;
        width: 20%;
    }
    
    .product_top img {
        width: 65%;
        left: -15%;
    }
    .product_top dl{
        width: 35%
    }
    .product_bot dl {
        margin-top: 30%;
        width: 35%
    }
    .product_bot img{
        width: 65%;
        right: -15%;
    }
    .product a{
        width: 30%
    }
    .product_bot a {
        margin-left: 70%
    }
    

    .business {
        height: 320px;
        padding-top: 40px;
        background-attachment:local
    }

    .business img {
        width: 280px;
        margin-left: -140px;
        top: 210px;
    }

    .news {
        margin: 22% 0% 0;
    }
    .news dl{
        display: block;
    }
    .news dd{
        white-space: nowrap;
        width: 100%;
        overflow: hidden; text-overflow: ellipsis; line-height: 1.2em; height: 2.4em;
    }
    
    
    .customer {
        margin: 8% 0%;
    }
    .customer span{
        font-size: 14px;
    }
    .customer .customer_li,.customer ul {
        float: none;
        width: 100%;
        overflow: hidden;
        max-height: 200px;
    }
    .customer .customer_li{
        height: 190px;
    }

    .customer ul {
        margin-top: 2%;
    }
    
    .customer ul .customer_cen,.customer ul .customer_a {
        width: 49%;
        float: left;
    }

    .customer ul .customer_cen{
        margin-right: 2%;
        margin-bottom: 0;
    }
  

}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .product dt,.business dt,.news h3,.customer h3{
        font-size: 28px;
    }
    dd{
        font-size: 14px
    }
    .about{
      padding: 12% 0;  
    }
    .about_top{
        background-position:-100px 0;
        height: 300px;
        padding: 0;
        text-align: left;
    }
    .about_top img{
        width: 60%;
        margin-left: 6%;
        margin-top: 13%;
    }
    .about_top dd{
        margin-left: 6%
    }
    .about_top a{
        margin-left: 6%;
        width: 20%;
        margin-top: 4%;
    }
    .about_top,.about_bot {
        float: none;
        clear: both;
        width: 100%;
    }
    .about_bot .dolby{
        margin-top: 0; 
    }
    .about_bot .cinema, .about_bot .dolby{
        height: 300px;
    }
    .about_bot .cinema dt, .about_bot .dolby dt{
        margin-top: 13%;
    }
    .about_bot .dolby a{
        margin-left: 6%;
    }
    .product{
        margin-bottom: 12%
    }
    .product_top img{
        width: 65%;
    }
    .product_top dl{
        width: 35%;
    }
    .product_bot{
        top: -20px;
        
    }
    .product a{
        width: 40%;
        margin-top: 10%;
    }
    .product_bot a{
       margin-left: 60%; 
    }
    .business{
        height: 260px;
    }
   
    .business img{
        width: 220px;
        margin-left: -110px;
        top: 180px;
    }
    
    .news{
        margin:36% 0% 0
    }
    
    .customer{
        margin: 12% 0%;
    }
    .customer ul{
        margin-top: 2%
    }
    .customer .customer_cen{
        background: url(../images/13.jpg) center no-repeat;
    }
    .customer .customer_a{
        background: url(../images/14.jpg) center no-repeat;
    }
    .customer dl{
    bottom: 10px;
    left: 10px;
    }

}

/* 모바일 */
@media screen and (max-width:640px) {
    .product dt,.business dt,.news h3,.customer h3{
        font-size: 24px;
    }
    .news dt,.customer dt{
        font-size: 18px;
    }
    .customer span{
        margin: 0 8% 4%;
    }
    .customer .customer_li{
        float: left;
        width: 32.33%;
        margin-right: 2%;
        height: 200px;
    }
    .customer ul{
        width: 65.66%;
        float: right;
        margin-top: 0;
        height: 200px;
    }
    .customer ul .customer_cen, .customer ul .customer_a{
        width: 48%;
        height: 200px;
        float: left
    }
    .customer dd{
        display: none;
    }

    .customer ul .customer_cen{
        margin-right: 4%;
    }
    .business {
        background-attachment: scroll
    }
    
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
    #wrap {
        min-width: 320px;
    }
}