/* 와이드 pc  */

#wrap {

}

.main {
    position: relative;
    width: 100%;
    height: 700px;
}
.main .img_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0); 
}
.main .main_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/sub_1_5.jpg) center no-repeat;
    background-size: cover;
}

.main_text {
    position: absolute;
    left: 50%;
    width: auto;
    top: 50%;
}

.main_text img {
    width: 800px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, .6));
    margin-left: -400px;
}


#content {
    margin: 0 auto;
}

.video{
    background: #fff;
    color: #151515;
    padding: 0 8%;
} 
.video .title {
    font-weight: bold;
    font-size: 34px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    padding-top: 8%;
}
.video .title span{
    display: block;
    font-size: 16px;
    font-weight: normal;
}

.clip{
    overflow: hidden;
    margin: 8% auto 0;
    max-width: 1600px;
    
   }

.subTitle {
    position: relative;
    padding-top: 20px;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #151515;
}

.subTitle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 4px;
    margin-left: -50px;
    background: #ee155b
}

.clip_part {
    width:50%; float: left;
    margin-bottom: 8%
}

.clip_part .contentArea {
    position: relative;
    width: 96%;
    margin: 20px auto
}

.imgPart {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px
}

.clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}

.clip_part .contentArea p {
    color: #151515;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight:300
}

.clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}

.clip_part .imgPart:hover .playBnt {
    background: rgba(255,0,0,.6)
}

.clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}

.cinema{
    width: auto;
    overflow: hidden;
    margin: 15% 8%;
}
.cinema_title{
    font-weight: bold;
    font-size: 34px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    margin-bottom: 4%;
}
.cinema_li{
    max-width: 1600px;
    margin: 0 auto;
}
.cinema li{
    float: left;
    width: 48%;
    margin-bottom: 4%;
    margin-right: 4%
}
.cinema li:nth-of-type(2n){
    margin-right: 0%
}
.cinema dl{
    position: relative;
}
.cinema dl:before{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 26px;
    background: #ee155b;
    
}
.cinema dt{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 4%;  
    margin-left: 10px;
}

.atmos{
/*
    background: rgba(255,255,255,.2);
    color: #151515;
*/
    max-width: 1600px;
    margin: 0 8% 8%;
    overflow: hidden;
}

.atmos dl{
    width: 65%;
    float: left;
}
.atmos dt{
    font-weight: lighter;
    font-size: 34px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 6%;
    text-align: justify
    
}
.atmos .atmos_img{
    width: 35%;
    float: right
}
.atmos .atmos_img img{
    width: 60%;
    margin: 0 20%;
}
/* 일반 pc */
@media screen and (max-width:1280px) {
    .main_text img {
        width: 600px;
        margin-left: -300px;
    }
    .video{
        padding: 0 3%;
    }
    .cinema{
        margin: 15% 3%;
    }
    .atmos{
        margin: 0 3% 8%;
    }
    .video .title,.cinema_title,.atmos dt{
        font-size: 30px;
    }
    .subTitle, .cinema dt{
        font-size: 22px;
    }
}
/* 테블릿 */
@media screen and (max-width:1024px) {
    .main{
        height: 500px;
    }
    .main_text img {
        width: 500px;
        margin-left: -250px;
    }
    .video .title,.cinema_title,.atmos dt{
        font-size: 28px;
    }
    .subTitle, .cinema dt{
        font-size: 20px;
    }
    .clip{
        margin: 12% auto 0;
    }
    .atmos{
        margin-bottom: 12%;
    }
    .cinema {
        margin: 12% 3%;
    }
}
/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .main_text img {
        width: 400px;
        margin-left: -200px;
    }
    .video .title,.cinema_title,.atmos dt{
        font-size:24px;
    }
    .clip_part {
    width:auto; float:none;}
    .cinema {
        margin: 15% 3%;
    }
    .cinema_title {
    margin-bottom: 10%;
}
    .atmos dl,.atmos .atmos_img{
        float: none;
        width: auto
    }
    .atmos .atmos_img img{
        margin-bottom: 8%;
    }
    .cinema li{
        float: none;
        width: auto;
        margin-right: 0;
        margin-bottom: 8%
    }
    .atmos{
        margin-bottom: 15%;
    }
}
/* 모바일 */
@media screen and (max-width:640px) {
    .main{
        height: 400px;
    }

     .clip_part .playBnt {
        width: 95px;
        height: 95px;
        margin: -48px 0 0 -48px
    }
    .clip_part .contentArea {
        width: auto
    }
}


/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
    #wrap {
        min-width: 320px;
    }
}