/*-------------------------------------------------------------------*/


.main {
    position: relative;
    width: 100%;
    height: 600px;
}
.main .img_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0); 
}
.main .main_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/sub2/sub_2.jpg) center no-repeat;
    background-size: cover;
}

.main_text {
    position: absolute;
    left: 50%;
    width: auto;
    top: 50%;
}

.main_text img {
    width: 800px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, .6));
    margin-left: -400px;
}

#content {
    margin: 100px 8% 0;
}

.title{
    text-align: center;
    max-width: 1600px;
    position: relative;
    margin: 0 auto;
}
.title p {
    font-weight: bold;
    font-size: 34px;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 4%;
    margin-bottom: 20px;
}

.title span {
    padding-bottom: 4%;
    display: block;
    opacity: .5
}
.title:before{
    position: absolute;
    width: 180px;
    height: 1px;
    background:rgba(255,255,255,.5);
    display: block;
    content: "";
    left: 50%;
    margin-left: -90px;
}

.title:after{
    position: absolute;
    width: 180px;
    height: 1px;
    background:rgba(255,255,255,.5);
    display: block;
    content: "";
    left: 50%;
    margin-left: -90px;
}


.vision{
    text-align: center;
    width: 1200px;
    margin: 8% auto 0;
}
.vision ul {
    overflow: hidden;
}
.vision li{
    float: left;
    width: 30%;
    margin-right: 5%
}
.vision li:nth-of-type(3){
    margin-right:0
}
.vision li img{
    width: 100%;
    margin-bottom: 20%;
}

.vision li dt {
    font-weight: bold;
    font-size: 28px;
    font-family: 'Nanum Gothic', sans-serif;
}
.vision li dd {
   margin-top: 20px;
}

.cinema{
    width: auto;
    overflow: hidden;
    margin: 15% 0;
    
}
.cinema_title{
    max-width: 1600px;
    font-weight: bold;
    font-size: 34px;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto 4%;
}

.cinema_li{
    max-width: 1600px;
    margin: 0 auto;
}
.cinema li{
    float: left;
    width: 31.33%;
    margin-bottom: 4%;
    margin-right: 3%
}
.cinema li:nth-of-type(3n){
    margin-right: 0%
}
.cinema dl{
    position: relative;
}
.cinema dl:before{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 26px;
    background: #ee155b
}
.cinema dt{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 4%; 
    margin-left: 10px;
}

.profile {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4%;
}

.profile p {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}
.profile span{
    margin-top: 10px;
    display: block;
    font-weight: bold;
    font-size: 34px;
}
.movie {
    margin-bottom: 8%
}
.grid {
    max-width: 1600px;
    margin: 0 auto
}
.grid-image-item,.grid--images .grid-sizer { width: 20%;}
.grid-image-item {
    float: left; margin-bottom: 20px
}

.grid-image-item img{
    border-radius: 3%;
    display: block;
    width: 96%;margin: 0 auto;
}
.grid-image-item h4{
    display: block;
    width: 96%;text-align: center;margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 20px;   
}
.grid-image-item p{
    display: block;
    width: 96%;text-align: center;margin: 0 auto;
    margin-top: 10px;
}


/* 일반 pc */
@media screen and (max-width:1280px) {
    .title p,.cinema_title,.profile span{
        font-size: 30px;
    }
    .vision li dt, .cinema dt{
        font-size: 22px;
    }
    .main_text img {
        width: 600px;
        margin-left: -300px;
    }
    #content {
        margin: 100px 3% 0;
    }
    
    .grid-image-item,.grid--images .grid-sizer {
        width: 25%;
    }
    .vision{
        width: 1000px;
    }
    .vision li img{
        margin-bottom: 10%;
    }
    .cinema_title{
        margin-bottom: 6%
    }
}


/* 테블릿 */
@media screen and (max-width:1024px) {
    .main{
        height: 500px;
    }
    .main_text img {
        width: 500px;
        margin-left: -250px;
    }
    .title p,.cinema_title,.profile span{
        font-size: 28px;
    }
    .vision li dt, .cinema dt{
        font-size: 20px;
    }
    
    #content {
        margin: 100px 3% 0;
    }
    .vision{
        width: auto;
        margin: 12% 0 0;
    }
    .cinema{
        margin: 12% 0;
    }
    .cinema li{
        width: 48%;
        margin-right: 4%;
    }
    .cinema li:nth-of-type(3n){
        margin-right: 4%
    }
    .cinema li:nth-of-type(2n){
        margin-right: 0%
    }
    .grid-image-item,.grid--images .grid-sizer {
        width: 33.33%;
    }
    .movie{
        margin-bottom: 12%;
    }

}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .main_text img {
        width: 400px;
        margin-left: -200px;
    }
    .title p,.cinema_title,.profile span{
        font-size: 24px;
    }
    .grid-image-item,.grid--images .grid-sizer {
         width: 50%;
    }
    .vision{
        margin: 15% 0 0
    }
    .vision li{
        width: 70%;
        margin: 4% 15%;
    }
    .cinema{
        margin: 15% 0;
    }
    .cinema li {
        margin-bottom: 8%
    }
    .cinema_title{
        margin-bottom: 10%;
    }
    .movie{
        margin-bottom: 15%;
    }
}
/* 모바일 */
@media screen and (max-width:640px){
    
    .main{
        height: 400px;
    }
    .vision li{
        width: 80%;
        margin: 4% 10%;
    }
    
    .cinema li{
        float:none;
        width: auto;
    }
    .grid-image-item,.grid--images .grid-sizer {
        width: 100%;
    }
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
    #wrap {
        min-width: 320px;
    }
}