   #content {
       margin: 200px auto 100px;
       width: 1080px;
   }

   .sub_nav ul {
       overflow: hidden;
       width: 430px;
       margin: 0 auto;
       text-align: center;
       margin-bottom: 100px;
       font-family: 'Nanum Gothic', sans-serif;
   }

   .sub_nav li {
       float: left;
   }

   .sub_nav li a {
       display: block;
       height: 50px;
       line-height: 50px;
       width: 200px;
       border: 1px solid #aaa;
       color: #aaa;
       box-sizing: border-box;
       margin-right: 30px;
   }

   .sub_nav li:nth-of-type(2) a {
       margin-right: 0
   }

   .sub_nav li a.now {
       background: #151515;
       border: 1px solid #151515;
       color: #fff;
   }

   .content {
       width: 800px;
       min-width: 800px;
       margin: 0 auto;
       text-align: center;
       line-height: 1.5em;
       font-size: 18px
   }

   .content ul {
       text-align: left
   }

   .content h3 {
       display: block;
       font-weight: bold;
       font-size: 20px;
       margin: 40px auto 20px;
       line-height: 1.5em;
       font-family: 'Nanum Gothic', sans-serif;
   }

   .content ul {
       margin-top: 100px;
   }

   .content dt {
       font-size: 20px;
       font-weight: bold;
       margin-bottom: 15px;
       font-family: 'Nanum Gothic', sans-serif;
   }

   .content dl {
       margin: 50px 0;
   }
