   /* 콘텐츠 영역 */
   #content {
       margin-top: 100px
   }

   .visual {
       background: url(../image/issue/visual.jpg) center;
       background-size: cover;
       width: 100%;
       height: 420px;
       color: #fff;
       text-align: center;
   }

   .visual_text {
       width: 1080px;
       margin: 0 auto;
       overflow: hidden;
       text-shadow: 0 0 6px rgba(0, 0, 0, .5);
       font-family: 'Nanum Gothic', sans-serif;
   }

   .visual_text p {
       line-height: 60px;
       float: left;
   }

   .visual_text p:after {
       content: "";
       border-bottom: 1px solid #fff;
       display: block;
       width: 100%;
       margin-top: -15px;
   }

   .visual_text p:nth-of-type(2) {
       float: right;
   }

   .visual_text span {
       margin-right: 10px;
       font-weight: bold;
   }

   .visual_text span:last-child {
       margin-right: 0px
   }

   .visual dl {
       position: absolute;
       top: 260px;
       width: 1080px;
       left: 50%;
       margin-left: -540px;
       font-family: 'Nanum Gothic', sans-serif;
   }

   .visual dt {
       margin-bottom: 10px;
       font-size: 40px;
       font-weight: bold;
       text-shadow: 0 0 6px rgba(0, 0, 0, .5)
   }

   .visual dd h3 {
       font-size: 20px;
       font-weight: normal;
       text-shadow: 0 0 6px rgba(0, 0, 0, .5)
   }

   .content {
       margin: 100px auto;
       width: 800px;
   }

   .content > img {
       width: 800px;
       margin: 40px 0;
   }

   .title {
       font-size: 24px;
       margin-bottom: 40px;
       font-family: 'Nanum Gothic', sans-serif;
   }

   .text {
       font-size: 16px;
       line-height: 1.5em;
   }
