  .wrapper {
      width: auto;
      background: #eaeaea;
  }

  #content {
      width: 800px;
      margin: 0 auto;
      padding: 200px 0 100px;
  }


  h2 {
      font-size: 40px;
      font-weight: bolder;
      font-family: 'Nanum Gothic', sans-serif;
  }

  span.sub_title {
      font-size: 16px;
      margin-bottom: 20px;
      display: block;
      font-family: 'Nanum Gothic', sans-serif;
  }

  span#loadtext {
      display: block;
      margin-bottom: 20px;
  }


  .member_tab {
      padding: 30px 0;
      border-top: 1px solid #333
  }

  .member_tab a {
      font-size: 24px;
      padding: 10px;
      margin: 0 10px;
      color: #aaa;
  }

  .member_tab a.on {
      color: #000;
      border-bottom: 2px solid #000;
      font-weight: bold
  }

  .member_tab span {
      font-size: 24px;
      padding: 10px;
      margin: 0 10px;
      color: #000;
      font-weight: bold
  }

  .join {
      text-align: left;
      width: 800px;
      background-color: #fff;
      padding: 60px 94px;
      box-sizing: border-box;
      border-top: 4px solid #00361E;
      box-shadow: 0px 0px 4px #cdcdcd;
  }

  .join h4 {
      font-size: 16px;
      margin-top: 30px;
      font-family: 'Nanum Gothic', sans-serif;
  }

  .join .policy {
      padding: 15px;
      overflow-y: scroll;
      height: 150px;
      margin: 10px 0;
      border: 1px solid #d8d6d1;
      color: #898989;
      font-size: 12px;
      line-height: 1.3em;
  }

  .join .button {
      text-align: center;
      margin-top: 30px;
      font-family: 'Nanum Gothic', sans-serif;
  }

  .join .button .ok,
  .join .button button {
      display: inline-block;
      width: 150px;
      line-height: 24px;
      padding: 8px 0;
      border: none;
      background: #00361E;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      font-weight: bold;
  }

  .join .button .cancel {
      display: inline-block;
      width: 150px;
      line-height: 24px;
      padding: 7px 0;
      border: none;
      border: 1px solid #00361E;
      color: #00361E;
      background: #fff;
      font-size: 14px;
      cursor: pointer;
  }
