.wrapper {
    width: auto;
    background: #eaeaea
}

#content {
    width: 800px;
    margin: 0 auto;
    padding: 200px 0 100px;
}

#content h3 {
    font-size: 40px;
    font-weight: bolder;
}
form h4{
    font-family: 'Nanum Gothic', sans-serif;
}

span.sub_title {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
}

span#loadtext {
    display: block;
    margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #fff !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text"],
input[type="password"],
#id {
    width: 600px;
    height: 30px;
    border: 1px solid #d8d6d1;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    margin-bottom: 20px
}

.tell > .hp {
    width: 180px;
    height: 30px;
    border-radius: 0;
    border: 1px solid #d8d6d1;
    background: #fff;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: content-box;
}

.mail > input[type="text"] {
    width: 282px;

}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

form[name="member_form"] {
    width: 800px;
    background-color: #fff;
    padding: 60px 94px;
    box-sizing: border-box;
    border-top: 4px solid #00361E;
    box-shadow: 0px 0px 4px #cdcdcd;
}
.btn{
    margin:0 auto;
    width: 320px;
    overflow: hidden;
}
.btn a{
    float: left;
    display: block;
    width: 150px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: #00361E;
    color: #fff;
    margin-right: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}
.btn a:last-child{
    margin-right: 0;
}
