@charset "utf-8";

/*press release*/
.kv { height:100vh; background:url(../images/kv01.png) center top no-repeat fixed; background-size: cover; }

#fullpage #section0 {background:url(../images/kv01.png) center no-repeat; background-size: cover;}
#fullpage #section1 {background:url(../images/kv02.png) center no-repeat; background-size: cover; color:#fff;}
#fullpage #section2 {background:url(../images/kv03.png) center no-repeat; background-size: cover;}
#fullpage #section3 {background:url(../images/kv04.png) center no-repeat; background-size: cover;}
#fullpage #section4 {background:url(../images/kv05.png) center no-repeat; background-size: cover; color:#fff;}
#fullpage #section5 {background:url(../images/kv06.png) center no-repeat; background-size: cover;}
#fullpage #section6 {background:url(../images/kv07.png) center no-repeat; background-size: cover; color:#fff;}

#fullpage h3 {font-size:40px; line-height:1.2;}
.fp-slidesNav {width:1200px; margin: 0 auto; position:relative;}

.item1 {background:url(../images/kv01.png) center no-repeat; background-size: cover;}
.item2 {background:url(../images/kv02.png) center no-repeat; background-size: cover; color:#fff;}
.item3 {background:url(../images/kv03.png) center no-repeat; background-size: cover;}
.item4 {background:url(../images/kv04.png) center no-repeat; background-size: cover;}
.item5 {background:url(../images/kv05.png) center no-repeat; background-size: cover; color:#fff;}
.item6 {background:url(../images/kv06.png) center no-repeat; background-size: cover;}
.item7 {background:url(../images/kv07.png) center no-repeat; background-size: cover; color:#fff;}

.item h3 {font-size:40px; line-height:1.2;}

.container.vm {position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
.container.vm.half {top:40%;}
.container.cont h2.under {font-size:40px; font-family:"Roboto"; font-weight:500; text-align:center; padding:0 0 40px;}
.container.cont h2.under:after { content: ""; display: block; width:50px; height:1px; background-color: #000; margin: auto; margin-top:30px; }
.container.cont h3 {font-size:26px;}

.story {background: url(../images/kv_story.png) left 30% top no-repeat fixed; height:800px;background-size:cover}
.story .img img{width:100%}
.story_ico li {width:32%; float:left; padding:180px 40px 60px; margin-right:2%;}
.story_ico li:nth-child(1) {background: url(../images/ico_story01.png) center top 60px no-repeat #f3f5f6;}
.story_ico li:nth-child(2) {background: url(../images/ico_story02.png) center top 60px no-repeat #f3f5f6;}
.story_ico li:nth-child(3) {background: url(../images/ico_story03.png) center top 60px no-repeat #f3f5f6; margin-right:0;}

.story_img li {height:350px; position: relative;} 
.story_img li .copy span {color:#999; display:block; font-size:15px;}
.story_img li:nth-child(1) .copy {position:relative; top:10%;padding-left: 8%;}
.story_img li:nth-child(2) .copy {position:relative; top:10%;padding-right:8%}
.story_img li:nth-child(3) .copy {position:relative; top:10%;padding-left: 8%;}
.story_img li:nth-child(1) .copy:before {content: ""; display: block; width:25%; height:1px; background-color: #000; position:absolute; top:48px; left:-13%;}
.story_img li:nth-child(2) .copy:before {content: ""; display: block; width:80%; height:1px; background-color: #000; position:absolute; top:48px; left:160px;}
.story_img li:nth-child(3) .copy:before {content: ""; display: block; width:25%; height:1px; background-color: #000; position:absolute; top:48px; left:-13%;}

.product {padding:280px 0 120px; }
.product img{width:100%}
.product h2 {font-size:48px; font-family:"Roboto"; font-weight:500;}
.product h3 {font-size:40px; font-family:"Roboto"; font-weight:500;}
.product .cont_box {padding:0 0 120px;}
.product01 .img{width:55%}
.product01 .spc {padding-left:80px;width:45%}
.product01 .spc ul li {padding: 20px 0 20px 70px;margin-top:20px;}
.product01 .spc ul li:nth-child(1) {background: url(../images/ico_product01.png) left center no-repeat;}
.product01 .spc ul li:nth-child(2) {background: url(../images/ico_product02.png) left center no-repeat;}
.product01 .spc ul li:nth-child(3) {background: url(../images/ico_product03.png) left center no-repeat;}
.product01 .spc ul li:nth-child(4) {background: url(../images/ico_product04.png) left center no-repeat;}

.product03 .why {padding-top:40px;padding-left:20px}
.product03 .why ul {}
.product03 .why ul h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}
.product03 .why ul li {padding-left:40px; background: url(../images/ico_check.png) left top 6px no-repeat;}

.product .cont_box .wave h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}
.product .cont_box .wave .more {display:inline-block; padding-right:28px; padding-bottom:8px; color:#000; font-size:18px; background: url(../images/ico_arrow2.png) right top 9px no-repeat; position: relative; font-family:"Roboto"; font-weight:500;}
.product .cont_box .wave .more:after {content: ""; display: block; width:100%; height:3px; background-color: #000; margin: auto; position:absolute; bottom:0; left:0;}

.product .led_box {background: url(../images/img_product06.png) center no-repeat fixed; padding:200px 20px; color:#fff;}
.product .led_box h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}
.product .led_box .more {display:inline-block; padding-right:28px; padding-bottom:8px; color:#fff; font-size:18px; background: url(../images/ico_arrow3.png) right top 9px no-repeat; position: relative; font-family:"Roboto"; font-weight:500;}
.product .led_box .more:after {content: ""; display: block; width:100%; height:3px; background-color: #fff; margin: auto; position:absolute; bottom:0; left:0; }

.product07 .img{width:50%}
.product07 .app {padding-top:60px;padding-left:80px;width:50%}
.product07 .app2 {padding-top:60px;padding-right:80px;width:50%}
.product07 h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}
.product07 li {padding-left:10px; position: relative;}
.product07 li:after {content: ""; display: block; width:3px; height:3px; background-color: #000; margin: auto; position:absolute; top:12px; left:0;}
.product07 .btn{margin-top:40px;overflow:hidden}
.product07 .btn a{display:block;float:left;width:32%;border-radius:30px;height:50px;margin-right:2%}
.product07 .btn .btn01{background: url(../images/btn_gp.png) center center no-repeat #000;background-size:auto 23px}
.product07 .btn .btn02{background: url(../images/btn_as.png) center center no-repeat #000;background-size:auto 25px}
.product07 .btn .btn03{background: url(../images/btn_gh.png) center center no-repeat #ededed;background-size:auto 23px}
.product07 .btn .btn04{background: url(../images/btn_aa.png) center center no-repeat #ededed;background-size:auto 17px}
.product07 .btn .btn_guide{background: url(../images/btn_guide.png) center center no-repeat ;background-size:auto 12px;border:1px solid #000;margin-right:0}

.product .keep_box {margin-bottom:120px;}
.product .keep_box .fl{background: url(../images/img_product09.png) center no-repeat;background-size:cover}
.product .keep_box .fr{padding:180px 40px; background:#f4f4f4}
.product .keep_box h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}

.product .cont_box .easy h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}
.product .cont_box .easy li {float:left; width:32%; margin-right:2%;}
.product .cont_box .easy li img {width:100%;}
.product .cont_box .easy li:nth-child(3n) {margin-right:0;}


.store02 ul{overflow:hidden}
.store02 li{float:left;width:32%;margin-right:2%;margin-bottom:2%;}
.store02 li:nth-of-type(3n){margin-right:0}
.store02 li img{width:100%}

.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: #e7e7e7;
	color: #999;
	display: block;
	float:left;
	padding: 30px 0;
	cursor: pointer;
	width:33.333333%;
	text-align:center;
	font-size:20px;
	position: relative;
}

ul.tabs li:before {content: ""; display: block; width:1px; height:100%; background-color: #f4f4f4; position:absolute; top:0; left:0; }

ul.tabs li.current{
	background: #f4f4f4;
	color: #000;
}

.tab-content{
	display: none;
	background: #f4f4f4;
}

.tab-content.current{
	display: inherit;
}

/*circle*/
.circle {position: relative;max- width:500px;margin:0 auto}
.circle .tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.circle ul.tabs li{
	color: #000;
	display: block;
	float:none;
	padding: 30px 0;
	cursor: pointer;
	text-align:center;
	font-size:20px;
	width:160px; height:160px; border-radius:50%; position: absolute; z-index:999; transition: all 0.3s; background: url() center top 50px no-repeat #e7e7e7;
}
.circle ul.tabs li .vm {position:absolute; top:50%; left:0; width:100%; transform: translateY(-50%);}
.circle ul.tabs li.current .vm {padding-top:40px;}
.circle ul.tabs li:nth-child(1) {top:-80px; left:50%; transform: translateX(-50%);}
.circle ul.tabs li:nth-child(2) {bottom:40px; left:-20px;}
.circle ul.tabs li:nth-child(3) {bottom:40px; right:-20px;}

.circle ul.tabs li.current:nth-child(1) {top:-100px; left:50%; transform: translateX(-50%); background: url(../images/ico_circle01.png) center top 50px no-repeat #000;}
.circle ul.tabs li.current:nth-child(2) {bottom:30px; left:-60px; background: url(../images/ico_circle02.png) center top 50px no-repeat #000;}
.circle ul.tabs li.current:nth-child(3) {bottom:30px; right:-60px; background: url(../images/ico_circle03.png) center top 50px no-repeat #000;}

.circle ul.tabs li:before {content: ""; display: none; width:1px; height:100%; background-color: #f4f4f4; position:absolute; top:0; left:0; }

.circle ul.tabs li.current{
	background: #000;
	color: #fff;
	width:200px; height:200px;
}

.circle .tab-content{
	display: none;
	background: rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.3);
	width:500px; height:500px; border-radius:50%; position: relative; text-align:center;margin:0 auto
}
.circle .tab-content .vm {position:absolute; top:50%; left:0; width:100%; transform: translateY(-50%);}

.circle .tab-content.current{
	display: inherit;
}

.tabWrap {}
.tabWrap .tab_Menu {text-align: center;}
.tabWrap .tabMenu {margin: 0 20px;  padding-top: 10px; padding-bottom: 10px;  display:inline-block; position: relative;}
.tabWrap .tabMenu a { color: #999; font-size:18px;}
.tabWrap .tabMenu.active a { color:#000; }
.tabWrap .tabPage {}


.product .cont_box .use h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}
.product .cont_box .use .tabMenu:after {content: ""; display: block; width:100%; height:2px; background-color: #999; position:absolute; bottom:0; left:0; }
.product .cont_box .use .tabMenu.active:after {content: ""; display: block; width:100%; height:2px; background-color: #000; position:absolute; bottom:0; left:0; }

.use_slide {padding:0;}
.use_slide img {width:100%; }
.use_slide .slick-slide{background:#e7ebee; }
.use_slide .slick-slide:nth-of-type(2) .img{background:url(../images/img_product14.png) center center no-repeat ;background-size: cover;}
.use_slide .slick-slide:nth-of-type(3) .img{background:url(../images/img_product14.png) center center no-repeat ;background-size: cover;}
.use_slide .slick-slide:nth-of-type(4) .img{background:url(../images/img_product14.png) center center no-repeat ;background-size: cover;}

.use_slide .img {width:70%}
.use_slide .info {height:400px; width:30%;padding:30px;}
.use_slide .info .num {font-size:26px;}
.use_slide .slick-next {right:-40px;}
.use_slide .slick-next:focus {border:1px solid #000; }
.use_slide .slick-prev {left:-40px;}
.use_slide .slick-prev:focus {border:1px solid #000; }
.use_slide .slick-dots {bottom: 30px; left:70%; text-align:left; padding-left:30px;}

.store_slide {padding:0;}
.store_slide img {width:100%; }
.store_slide .slick-next {right:0;}
.store_slide .slick-next:focus {border:1px solid #000; }
.store_slide .slick-prev {left:0;}
.store_slide .slick-prev:focus {border:1px solid #000; }
.store_slide .slick-list {margin:0 100px;}
.store_slide .slick-slide {margin:0 20px;}

.main_slide {padding:0; height:100vh;}
.main_slide img {width:100%; }
.main_slide .slick-next {right:30px;}
.main_slide .slick-next:focus {border:1px solid #000; }
.main_slide .slick-prev {left:30px;}
.main_slide .slick-prev:focus {border:1px solid #000; }
.main_slide .slick-list {margin:0;}
.main_slide .slick-slide {margin:0;}
.main_slide .slick-dots {z-index:999; bottom:50px;}

.product_slide {padding:0; position:absolute; top:50%; left:0; transform: translateY(-50%);}
.product_slide img {width:100%; }
.product_slide .info {padding:50px;}
.product_slide .info .num {font-size:26px;}
.product_slide .slick-next {right:18%;}
.product_slide .slick-next:focus {border:1px solid #000; }
.product_slide .slick-prev {left:18%;}
.product_slide .slick-prev:focus {border:1px solid #000; }
.product_slide .slick-slide {margin:0 60px; background:#e7ebee; opacity:0.3; transition: all 0.3s;}
.product_slide .slick-slide.slick-current {opacity:1;}
.product_slide .slick-dots {bottom:-40px;}
.product_slide .slick-list {transform: translateY(50%); /*padding-top:100px !important;*/}
/*
.product_slide .slick-list:before {content: "Clium Product"; display: block; position:absolute; top:0; left:50%; transform: translateX(-50%); font-family:"Roboto"; font-size:40px; font-family:"Roboto"; text-align:center;}
*/
.product .product12{padding-top:80px;background:#f4f4f4;}
.product12 .purch h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}
.product12 .purch .price {font-size:26px; font-family:"Roboto"; font-weight:700;}
.product12 .purch .pur {font-size:24px; border-radius:40px; line-height:70px; width:240px; border:1px solid #000; color:#000; display:inline-block; transition: all 0.3s;}
.product12 .purch .pur:hover {background:#000; color:#fff;}

.product13 .new h4 {font-size:26px; line-height:1.2; margin-bottom:20px;}
.product13 .new img {width:100%;}
.product13 .new .name {font-size:36px; font-family:"Roboto"; font-weight:700;}
.product13 .new .launch {font-size:18px; border-radius:40px; padding:10px 30px; color:#000; display:inline-block; transition: all 0.3s; background:#e7ebee;}
.product13 .new li {padding-left:10px; position: relative;}
.product13 .new li:after {content: ""; display: block; width:3px; height:3px; background-color: #000; margin: auto; position:absolute; top:12px; left:0;}
.product13 .new .text1{font-weight:600}


.sub_kv_lab {background: url(../images/kv_lab.png) center top no-repeat; height:420px; padding-top:200px;}
.sub_kv_lab h2 {font-size:48px; font-family:"Roboto"; font-weight:500;}
.sub_kv_lab .sub_title {font-size:20px;}

.sub_kv_support {background: url(../images/kv_support.png) center top no-repeat; height:420px; padding-top:200px;}
.sub_kv_support h2 {font-size:48px; font-family:"Roboto"; font-weight:500;}
.sub_kv_support .sub_title {font-size:20px;}

.sub_kv_store {background: url(../images/kv_store.png) center top no-repeat; height:420px; padding-top:200px;}
.sub_kv_store h2 {font-size:48px; font-family:"Roboto"; font-weight:500;}
.sub_kv_store .sub_title {font-size:20px;}

.videos li {float:left; width:32%; margin-right:2%;}
.videos li img {width:100%;}
.videos li:nth-child(3n) {margin-right:0;}
.videos li .cate {display:inline-block; padding-right:60px; position: relative; color: #000;}
.videos li .cate:after {content: ""; display: block; width:50px; height:1px; background-color: #000; position:absolute; top:50%; right:0; }
.videos li .title {font-size:18px; line-height:1.2; color: #000;}
.videos li .date {color:#999;}
.videos li a {display:block;}

.srch_box {position: relative; }
.srch_box .srch {position:absolute; top:0; right:0; border-bottom:2px solid #000;}
.srch_box .srch input:focus {outline:none; border:0;}
.srch_box .srch input[type="text"] {border:none; height:58px; width:200px; padding:0 10px; font-size:16px;}
.srch_box .srch input[type="button"] {border:none; height:58px; width:58px; vertical-align:top; background: url(../images/ico_srch.png) center no-repeat #fff; cursor:pointer;}

.notice li {float:left; width:32%; margin:0 2% 2% 0; }
.notice li img {width:100%;}
.notice li:nth-child(3n) {margin-right:0;}
.notice li .title {font-size:20px; line-height:1.2; color: #000;}
.notice li .date {color:#999; position:absolute; bottom:30px; left:30px; font-family:"Roboto";}
.notice li .date .new {color:#000; font-weight:500; margin-left:10px;}
.notice li a {display:block; padding:30px; position: relative; height:220px; border:1px solid #e5e5e5; transition: all 0.3s;}
.notice li a.noti {background:#f4f4f4;}
.notice li a:hover {border:1px solid #000;}
.notice li a:hover:after {content: ""; display: block; width:17px; height:10px; position:absolute;  bottom:30px; right:30px; background: url(../images/ico_arrow2.png) center no-repeat;}

.read_more a {color:#000; display: inline-block;}
.read_more a:after {content: ""; display: block; width:100%; height:2px; background-color: #000; margin: auto; font-family:"Roboto";}

.videos_wrap {background: rgba(0,0,0,0.4); display:none; position:fixed; top:0; left:0; bottom:0; right:0; z-index:99999;}
.videos_wrap.open {display:block;}
.videos_wrap .videos_box {background:#fff; width:700px; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); padding:40px;}
.videos_wrap .videos_box .videos_btn_close {position:absolute; top:40px; right:40px; display:block; width:30px; height: 30px; background: url(../images/ico_close.png) center no-repeat;}

.videos_wrap .videos_box .cate {display:inline-block; color: #fff; background:#000; border-radius:20px; padding:6px 20px; }
.videos_wrap .videos_box h3 {font-size:26px; line-height:1.2; color: #000;}
.videos_wrap .videos_box .date {color:#999;}

.videos_wrap .videos_box .box {height:600px; overflow:auto;}
.videos_wrap .videos_box .box .con {font-size:18px;}
.videos_wrap .videos_box .box .con h4 {font-size:22px; line-height:1.2; color: #000; margin-top:40px;}
.videos_wrap .videos_box .box .con p {margin-top:40px;}
.videos_wrap .videos_box .box .con img {max-width:100%;}


.notice_wrap {background: rgba(0,0,0,0.4); display:none; position:fixed; top:0; left:0; bottom:0; right:0; z-index:99999;}
.notice_wrap.open {display:block;}
.notice_wrap .notice_box {background:#fff; width:700px; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); padding:40px;}
.notice_wrap .notice_box .notice_btn_close {position:absolute; top:40px; right:40px; display:block; width:30px; height: 30px; background: url(../images/ico_close.png) center no-repeat;}

.notice_wrap .notice_box .cate {display:inline-block; color: #fff; background:#000; border-radius:20px; padding:6px 20px; }
.notice_wrap .notice_box h3 {font-size:26px; line-height:1.2; color: #000;}
.notice_wrap .notice_box .date {color:#999;}

.notice_wrap .notice_box .box {height:600px; overflow:auto;}
.notice_wrap .notice_box .box .con {font-size:18px;}
.notice_wrap .notice_box .box .con h4 {font-size:22px; line-height:1.2; color: #000; margin-top:40px;}
.notice_wrap .notice_box .box .con p {margin-top:40px;}
.notice_wrap .notice_box .box .con img {max-width:100%;}


.btn_box {border-top: 1px solid #ebebeb; padding-top:100px; margin-top:100px;}
.btn_box a.jump {}
.btn_box a.jump {font-size:24px; border-radius:50px; line-height:90px; width:500px; border:1px solid #000; color:#000; display:inline-block; transition: all 0.3s;}
.btn_box a.jump:hover {background:#000; color:#fff;}


/* FAQ */
.faq_area {position:relative; width:100%; border-bottom:solid 1px #dfdfdf;}
ul.faq:after {content:""; clear:both; display:block;}
ul.faq li { font-size:18px;}
ul.faq li.dep1 {width:100%;}
ul.faq li.dep1 p.que {position:relative; }
ul.faq li.dep1 p.que:before {content: "Q"; display: block; position:absolute;  top:16px; left:20px; font-family:"Roboto"; font-size:24px; font-weight:500;}
ul.faq li.dep1 p.que span {position:absolute; left:20px; top:20px; color:#00ab6c; font-family: 'ngb'}
ul.faq li.dep1 p.que a.tit {display:block; padding:20px 60px; font-size:1em; color:#4c4c4c; vertical-align:middle; border-top:solid 1px #dfdfdf;}
ul.faq li.dep1 p.que a.tit:hover {text-decoration:underline}
ul.faq li.dep1 p a.tit {background:url("../images/ico_down.png") 98% no-repeat; }
ul.faq li.dep1.on p a.tit {background:url("../images/ico_up.png") 98% no-repeat;}

ul.faq li.dep1 .aswer {display:none; position:relative;}
ul.faq li.dep1 .aswer:before {content: "A"; display: block; position:absolute;  top:16px; left:20px; font-family:"Roboto"; font-size:24px; font-weight:500;}
ul.faq li.dep1 .aswer .dep2 {background-color:#f5f5f5; }
ul.faq li.dep1 .aswer .dep2 div.txt {padding:20px 60px; color:#000; border-top:solid 1px #dfdfdf;}
ul.faq li.dep1 .aswer .dep2 div.txt span.ans {position:absolute; left:30px; top:20px; color:#f56016; font-family: 'ngb'; font-size:1em; line-height:2em;}

.req li {float:left; width:49%; padding:40px 0 40px 20%; background:url("../images/ico_call.png") left 30% center no-repeat #f3f5f6;}
.req li:first-child {margin-right:2%; background:url("../images/ico_mail.png") left 30% center no-repeat #f3f5f6;}
.req li p {font-size:24px; font-family:"Roboto";}


a.view_more {color:#fff; display: inline-block; width:120px; background:url("../images/ico_arrow3.png") right top 10px no-repeat; font-size:18px;}
a.view_more:after {content: ""; display: block; height:2px; background-color: #fff; margin-top:10px; font-family:"Roboto";}
a.view_more_b {color:#000; display: inline-block; width:120px; background:url("../images/ico_arrow2.png") right top 10px no-repeat; font-size:18px;}
a.view_more_b:after {content: ""; display: block; height:2px; background-color: #000; margin-top:10px; font-family:"Roboto";}


.vline:after {content: ""; display: block; width:1px; height:60px; background-color: #000; margin: 40px auto 0;}

.float01 {position:absolute;  top:55%; left:18%; z-index:2;}
.float02 {position:absolute;  top:40%; left:7%; z-index:1; box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2)}
.float03 {position:absolute;  top:15%; right:7%; z-index:1; box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2)}
.float04 {position:absolute;  bottom:5%; right:20%; z-index:1; box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2)}





.slidePage-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.slidePage-container .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: all 700ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -webkit-transition: all 700ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-text-size-adjust: none;
    -webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;
    /*transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;*/
    background-position: center;
}
.slidePage-container .item:not(:first-child ) {
    transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
}

.slidePage-container .no-animation {
    transition: none;
    -webkit-transition: none;
}
.slidePage-container .hide {
    display: none;
}
.slidePage-container .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.slidePage-container .zindex {
    z-index: 99;
}