html, body {
	position: relative;
	height: 100%;
}
body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide.h01 {background:url(../images/main_bg01.png) center top no-repeat; background-size: cover;}
.swiper-slide.h02 {background:url(../images/main_bg02.png) center top no-repeat; background-size: cover;}
.swiper-slide.h03 {background:url(../images/main_bg03.png) center top no-repeat; background-size: cover;}

.swiper-slide.v01 {background:url(../images/kv01.png) center top no-repeat; background-size: cover;}
.swiper-slide.v02 {background:url(../images/kv02.png) center top no-repeat; background-size: cover; color:#fff;}
.swiper-slide.v03 {background:url(../images/kv03.png) center top no-repeat #fff; background-size: 1920px;}
.swiper-slide.v04 {background:url(../images/kv04.png) center top no-repeat; background-size: cover;}
.swiper-slide.v05 {background:url(../images/kv05.png) center top no-repeat; background-size: cover; color:#fff;}
.swiper-slide.v06 {}
.swiper-slide.v07 {background:url(../images/kv07.png) center top no-repeat; background-size: cover; color:#000;}

.swiper-container-v {
	background: #eee;
}
.swiper-slide h3 {font-size:40px; line-height:1.2; letter-spacing:-1px;}
.swiper-slide h4 {font-size:40px; line-height:1; letter-spacing:-1px;}
.swiper-slide * {box-sizing:border-box;}
	
.swiper-button-next, .swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	z-index: 10;
	cursor: pointer;
	border-radius:40px;
}
.swiper-button-next {background: url(../images/next_icon.png) center no-repeat #000; border:1px solid #000; transition: all 0.3s; right:20px; opacity:0.2;}
.swiper-button-next:hover {opacity:1;}
.swiper-button-prev {background: url(../images/prev_icon.png) center no-repeat #000; border:1px solid #000; transition: all 0.3s; left:20px; opacity:0.2;}
.swiper-button-prev:hover {opacity:1;}
.swiper-container-p .swiper-slide {opacity:0.3;}
.swiper-container-p .swiper-slide-active {opacity:1;}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
	background: #000;
	opacity: 1;
}
.swiper-pagination-bullet-active {width: 50px; background: #000;}

.v05 .container {padding-top:140px;}
.v05 .w50 {padding-top:100px}


.swiper-slide.v06 .prd{overflow:hidden;width:100%;}
.swiper-slide.v06 .info {width:40%;float: left;padding:50px;padding-right: 20px;background: #e7ebee;}
.swiper-slide.v06 .img {float: right;width:60%;height:250px;background:url(../images/img_main05.png)center center no-repeat;background-size:cover}

.swiper-slide.v01 .swiper-pagination{bottom: 30px;}
.swiper-slide.v06 .swiper-pagination{bottom: 30px;}
.swiper-slide.v04 .w50{width:auto}