@import url('https://webfontworld.github.io/sunn/SUIT.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face { 
  font-family: "AlternateGotNo3D";
  src: url("../font/AlternateGotNo3D.ttf") format("truetype");
  font-weight: normal;
} 

/**/
body { font-family:'Pretendard'; word-break:keep-all; font-size:14px; }
div, p, span, a { line-height:1.2; }
.pre { font-family:'Pretendard'; }
.Alter { font-family:'AlternateGotNo3D'; }

.wrap { overflow:hidden; position:relative; width:100%; max-width:980px; margin:0 auto; background:#e8edeb; }
.content { padding:25px; } 

i[class^="ico"] { display:block; text-indent:-9999px; background-position:center; background-repeat:no-repeat; background-size:contain; }
.ico-next { width:20px; height:14px; background-image:url('../images/common/ico-next.png'); }
.ico-prev { width:20px; height:14px; background-image:url('../images/common/ico-prev.png'); }
.ico-cate { width:13px; height:13px; background-image:url('../images/sub/ico-cate.png'); }
.ico-location { width:13px; height:13px; background-image:url('../images/sub/ico-location.png'); }
.ico-camera { width:13px; height:13px; background-image:url('../images/sub/ico-camera.png'); }
.ico-info { width:13px; height:13px; background-image:url('../images/sub/ico-info-wh.png'); }
.ico-cate.wh { background-image:url('../images/sub/ico-cate-wh.png'); }
.ico-location.wh { background-image:url('../images/sub/ico-location-wh.png'); }
.ico-camera.wh { background-image:url('../images/sub/ico-camera-wh.png'); }
.ico-enlarge { width:31px; height:30px; background-image:url('../images/sub/ico-enlarge.png'); }
.ico-top { width:12px; height:7px; background-image:url('../images/common/ico-top.png'); }

.pcView { display:block !important; }
.moView { display:none !important; }

.dot { padding-left:1em; }
.dot:before { content:'\2022'; display:inline-block; width:1em; margin-left:-1em; font-weight:100; color:#b00d15; }

/* layout */
.header { z-index:100; position:fixed; top:0; left:0; right:0; max-width:980px; margin:0 auto; background:#e8edeb; }
.header .content { display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; height:60px; padding:0 25px; border-bottom:1px solid #000; }
.header h1 a { display:block; width:143px; height:19px; text-indent:-9999px; 
	background:url('../images/common/logo-bk.png')no-repeat center / contain; }
.header .menuOpen { display:block; width:25px; height:25px; background:url('../images/common/ico-menu.png')no-repeat center / contain; text-indent:-9999px; }


/* pop */
.pop { position:relative; z-index:200; }
.pop .popCont { display:none; overflow:auto; position:fixed; top:0; left:calc(50% - 490px); width:100%; max-width:980px; height:100vh; }
.pop .popClose { display:block; width:25px; height:25px; text-indent:-9999px; background:url('../images/common/ico-close.png')no-repeat center / auto 18px; }
.pop .popClose.wh { background-image:url('../images/common/ico-close-wh.png'); }

.pop.open .popCont { display:block; }
.pop.open .dim { display:block; }


/* menuPop */
.menuPop .popCont { background:#e8edeb; color:#000; }
.menuPop .top { display:flex; justify-content:space-between; align-items:center; width:100%; height:60px; padding:0 25px; border-bottom:1px solid #000; }
.menuPop .top .logo { display:block; width:143px; height:19px; text-indent:-9999px;
	background:url('../images/common/logo-bk.png')no-repeat center / contain; }

.menuPop .menu { padding:50px 25px 130px; font-family:'AlternateGotNo3D'; }
.menuPop .menu li + li { margin-top:30px; }
.menuPop .menu li a { font-size:2.4em; }

.menuPop .bottom .linkWrap { display:flex; justify-content:space-between; align-items:stretch; border-top:1px solid #000; border-bottom:1px solid #000; }
.menuPop .bottom .linkWrap a { width:33.3333%; padding:15px; }
.menuPop .bottom .linkWrap a + a { border-left:1px solid #000; }
.menuPop .bottom .linkWrap span { font-weight:bold; }
.menuPop .bottom .linkWrap i { margin-top:20px; }
.menuPop .bottom .banner img { width:100%; }
.menuPop .bottom .copy { padding:20px 0; text-align:center; font-size:12px; border-top:1px solid #000; }

/* detailPop */
.detailPop .popCont { background:#000; color:#fff; }
.detailPop .top { display:flex; justify-content:space-between; align-items:center; width:100%; height:60px; padding:25px; }
.detailPop .img img { width:100%; }
.detailPop .detail { overflow:auto; position:fixed; left:0; bottom:0; left:calc(50% - 490px); width:100%; max-width:980px; height:200px;
	padding:25px; background:rgba(0,0,0,0.8); }
.detailPop .detail li { display:flex; justify-content:flex-start; align-items:flex-start; }
.detailPop .detail li + li { margin-top:15px; }
.detailPop .detail li i { flex-shrink:0; margin-right:10px; }


@media screen and (max-width:980px) {
	.pop .popCont { left:0; }
	.detailPop .detail { left:0; }
}
