.sub_visual {
    width: auto;
    min-width: 1160px;
    padding: 200px 0 100px;
    background: url(../image/4/2.jpg) right center;
    background-size: cover;
    overflow: hidden;
}

.sub_nav li a.view {
    border-bottom: 2px solid #fff;
    opacity: 1;
}

.sub_nav li a {
    color: #Fff;
}

.title_wrap{
    COLOR: #fff;
    text-shadow: 0 0 6px rgba(0,0,0,0.8);
}

.content{
    background-color: #eaeaea;
}

.balmuda{
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    padding: 140px 0;
    font-size: 18px;
    line-height: 1.8em;
    color: #888;
    font-weight: lighter
}
.balmuda span{
    border-bottom: 1px solid #bbb;
    font-weight: bold
}

.ceo{
    width: 1200px;
    margin: 0 auto;
    background: url(../image/4/1.jpg) center center;
    overflow: hidden;
}
.ceo_r {
    font-size: 16px;
    margin: 100px 0 ;
    width: 520px;
    float: right;
    line-height: 1.5em;
}
.ceo_r h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.ceo_r p {
    margin-bottom: 40px;
}
.ceo_r img{
    margin: 40px 0 0px 330px;
}
.ceo_b span{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
}
.ceo_b {
    font-size: 14px;
    color: #777
}