.sub_visual {
    width: auto;
    min-width: 1200px;
    padding: 200px 0 100px;
    background: url(../image/4/2.jpg) right center;
    background-size: cover;
    overflow: hidden;
}
.sub_nav li a.view {
    border-bottom: 2px solid #fff;
    opacity: 1;
}

.sub_nav li a {
    color: #Fff;
}

.title_wrap{
    COLOR: #fff;
    text-shadow: 0 0 6px rgba(0,0,0,0.8);
}

.content{
    background-color: #eaeaea;
}

.history {
    width: 800px;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    padding: 100px 0;
}
.history dt{
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0 20px 40px;
    position: relative;
}
.history dt:before{
    content: "";
    border-top: 1px solid #ccc;
    width: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}
.history dd{
    font-size: 16px;
    padding-left: 40px;
}