.pure ul:nth-of-type(1) {
    background: #eaeaea;
}

.pure li.box3 dl,
.pure li.box1 dl,
.greenfan li dl{
    color: #333;
    text-shadow: none;
}

.pure li.box3 dl dt:after,
.pure li.box1 dl dt:after,
.greenfan li dl dt:after{
    border-bottom: 2px solid #333;
}

.pure li.box3 a.more,
.pure li.box1 a.more,
.greenfan li a.more{
    color: #333;
    border: 2px solid #333;
}

