.tab_wrap {
    padding: 140px 0 100px;
    text-align: center;
    background: url(../images/sub/3/3_2_1.jpg);
    background-size: 100%;
}

.tab_wrap > span {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;

}

.tab_wrap p {
    line-height: 1.5em;
    padding: 20px;
}

.tab_nav {
    margin: 40px auto;
    width: 210px;
}

.tab_nav li a {
    position: relative;
    display: block;
    width: 190px;
    background: #fff;
    padding: 10px 10px 10px 50px;
    line-height: 1.5em;
    margin-bottom: 20px;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.tab_nav li a h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}

.tab_nav li a span {
    margin-top: 6px;
    display: block
}

.tab_nav li i {
    position: absolute;
    top: -7px;
    left: -40px;
    font-size: 30px;
    display: block;
    width: 80px;
    height: 80px;
    background: #202020;
    color: #fff;
    border-radius: 50%;
    line-height: 80px;
    text-align: center
}

.resist {
    padding: 140px 0 40px;
    text-align: center;
    background: #eaeaea
}

.resist h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
}

/*
        .resist h3:after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin-left: -50px;
            display: block;
            width: 100px;
            height: 2px;
            background: #202020; 
        }
*/
.resist p {
    padding: 20px;
    line-height: 1.5em
}

.resist a {
    display: block;
    background: rgb(111, 183, 13);
    color: #fff;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.resist_box {
    position: relative;
}

.resist_box img {
    width: 100%;
}

.resist_box dl {
    position: relative;
    bottom: 40px;
    margin: 0 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.1);
}

.resist_box dl dt {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 20px;
}

.resist_box dl dt:after {
    content: "";
    width: 60px;
    height: 4px;
    background: rgb(111, 183, 13);
    display: block;
    margin-top: 10px;
}

.resist_box dl dd {
    line-height: 1.5em;
    text-align: justify
}
