
#content {
    background: url(../images/sub/4/4_2.jpg)
}

.visual {
    width: 100%;

}

.visual dl {
    padding: 200px 20px 0;
    line-height: 1.5em;
}

.visual dl dt {
    background: #202020;
    color: #fff;
    padding: 10px 10px;
    width: 70px;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.visual dl dd {
    font-size: 16px;
}

.life {
    padding: 20px;
    overflow: hidden;
}

.life .life_content {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.life .life_content:nth-of-type(2n) {
    margin-right: 0%;
    float: right;
}

.life_content img {
    width: 100%;
}

.life_content dl {
    background: #fff;
    padding: 10px;
    line-height: 1.5em;
    margin-bottom: 20px;

}

.life_content dt {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.life_content dd {
    font-weight: 300;
}
