@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License:none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
}
ol, ul, li {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	vertical-align:middle;
	table-layout:fixed;
}

table, caption, tbody, tfoot, thead, tr, th, td { vertical-align:middle; }
strong { font-weight:bold; }
img { vertical-align:bottom; max-width:100%; margin:0; padding:0; }
* { margin:0; padding:0; border:0; outline:0; box-sizing:border-box; }
input, select, textarea, button { font:inherit; color:inherit; vertical-align:middle; }

select::-ms-expand { display:none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
button { background:none; outline:none; border:none; cursor:pointer; background-color:transparent; border-radius:0px; }

.hidden, hr, caption { overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; }

a { color:inherit; text-decoration:none; outline:none; }
a:hover, a:active { text-decoration:none; }

body h1, body h2, body h3, body h4, body h5, body h6 { line-height:1; }

.skipNavigation { position:absolute; top:0; left:0; list-style:none; margin:0; padding:0; width:1px; height:1px; margin:-1px; z-index:-99999;
	text-indent:-9999px; }