@charset "utf-8";
/* 모바일 코딩 필수 공통영역 */
* {
 margin:0;
 padding:0;
 -webkit-text-size-adjust:none; }
body {
 color:#333;
 font-size:14px;
 font-family: "돋움", Dotum,"굴림",Gulim, sans-serif }
img, fieldset { border:0; vertical-align:top }
ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
hr { display:none; }
a { color:inherit; }
a, a:link { color:#333; text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active { color:#333; text-decoration:none; }
em, i, address {
 font-style:normal;
 font-weight:normal; }
legend, caption {
 display:none;
 clear:both; }
input, textarea, select, button, table {
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input { border-radius:1px;}
textarea { resize:none; }
label { cursor:pointer; }

@media screen and (max-width:480px){
    #wrap{
        min-width: 320px;
    }
}


.hidden,#skipNav { display: block; position: absolute; left: -1000%; top: 0; width: 1px; height: 1px;overflow: hidden; color: #fff}

#skipNav a {
    display: none;
    height: 1px;
    margin-bottom: -1px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

#skipNav a:hover,
#skipNav a:focus,
#skipNav a:active {
    display: block;
    height: auto;
    padding: 5px 0;
    background: #f00;
    z-index: 200;
}
.scroll_hide {opacity:0;}
#wrap{ width:100%; ; overflow:hidden;}

/*모든페이지 공통영역 - 헤더영역*/
#headerArea {
    position: fixed;
    width: 100%;
    z-index: 30;
    transition: all .5s;
    clear: both;
}
#headerArea h1 {}
#headerArea h1 a{
    display: block;
    width: 145px;
    height: 21px;
    text-indent: -1000%;
    background: url(logo_320.png);
    float: left;
    margin :15px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
 #headerArea h1 a {background: url("logo_640.png");
   -webkit-background-size:145px 21px;}
}

#headerArea .btn {
    display: block;
    padding: 15px;
    font-size: 20px;
    float: right;
    line-height: 20px;
}

.box {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000, #434343);
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: none
}

#gnb {
    clear: both;
    width: 70%;
    position: absolute;
    right: -100%;
    top: 0;
    background: #202020;
    opacity: 0;
    z-index: 20;
}

#gnb .mclose {
    position: absolute;
    left: -28px;
    top: 0;
    font-size: 28px;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0,0,0,.8); 
}

#gnb .mainMenu .etc{
    height: 51px;
    border-bottom: 1px solid #fff; 
}
#gnb .mainMenu .etc img{
    height: 17px;
    padding: 17px;
}

#gnb li.depth1 {
    text-align: left;
    font-weight: bold;
}


#gnb li.depth1 a {
    display: block;
    padding: 15px 30px;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
#gnb li.depth1 ul {
    background: #fff;
    display: none;
}s

#gnb li.depth1 ul li {
    border-top: 1px solid #eee;
}

#gnb li.depth1 ul li a {
    padding: 10px 50px;
    color: #333;
    font-weight: normal;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
}
#gnb li.depth1 ul li a:before{
    content: "";
    width: 6px;
    height: 1px;
    display: block;
    background: #202020;
    position: absolute;
    margin-top: -1px;
    top: 50%;
    left: 34px;
}


/*모든페이지 공통영역 - 푸터영역*/
#fotterArea {
    width: 100%;
    background: #202020;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

#fotterArea .top_btn a{
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: #fff;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background:#202020;
    z-index: 30;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px rgba(255, 255, 255,0.3);
    opacity: 0;
    transition: all .5s;
}

#fotterArea ul{
    padding: 20px 0;
    overflow: hidden;
}
#fotterArea ul li {
    float: left;
    width: 25%;
}
#fotterArea ul li a{
    color: #fff;
}
#fotterArea address{
    line-height: 1.5em;
    padding: 0 30px;
}
#fotterArea p{
    padding: 20px;
}

